body {
	background-color: #000;
}

.loading {
	position: relative;
	display: flex;

	transform: translateY(-10%) scale(0.7);
	justify-content: center;
	margin: 0 auto;
}

@media (max-width: 420px) {
	.loading {
		transform: translate(-23%, -20%) scale(0.5);
		position: absolute;
		top: 0;
		left: 0;
	}
}

.link {
	text-decoration: none;
	border: 1px solid #fff;
	padding: 1rem;
	border-radius: 0.3rem;
	background-color: #ff3015;
	transition: all 0.3s ease-in-out;
	font-weight: 700;
	color: #fff;
}

.link:hover {
	opacity: 0.8;
}

.table {
	width: 100%;
	margin-top: 2rem;
	margin-bottom: 2rem;
	border-collapse: collapse;
	border-spacing: 0;
}

.table thead th {
	text-transform: uppercase;
	padding: 0.8rem;
}

.table tbody tr td {
	color: #999;
	padding: 0.8rem 1.2rem;
	text-align: center;
}
.table tbody tr:hover {
	cursor: pointer;
	color: #fff;
}
.table tbody tr:hover td {
	color: #fff;
}

.table tbody tr td:first-child {
	text-align: left;
}

.table tbody tr:nth-child(odd) {
	background: #222;
}

.backdrop {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	background: rgba(0, 0, 0, 0.5);
	z-index: 100;
}
.backdrop img {
	display: block;
	max-width: 60%;
	max-height: 80%;
	margin: 60px auto;
	box-shadow: 3px 5px 7px rgba(0, 0, 0, 0.5);
	border: 3px solid white;
	border-radius: 0.5rem;
}
